<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header id="about-bg">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
            <img src="../../assets/img/lOGO1.png" style="height:70px" alt="Vaima Entertainment Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="nav-link" id="dropbtn">Services</button>
                    <div class="dropdown-content">
                      <a  routerLink="/marketing">Digital Marketing</a>
                      <a  routerLink="/website">Website Development</a>
                      <a  routerLink="/advertisement">Advertisement</a>
                      <a  routerLink="/tvshows">Broadcasting Channel</a>
                      <a  routerLink="/film">Film Production</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact</a>
                  </li>
                
            </ul>
            </div>
        </nav>
        
    </header>

    <section>
      <div class="container">
        <div class="card-marketing  animate__animated animate__lightSpeedInLeft">
          <div class="row">
            <div class="col-md-4">
              <img class="mx-auto d-block" src="../../assets/img/DigitalMarketing.png" alt="">
            </div>
            <div class="col-md-8 " id="card-content">
              <h4>Digital Marketing</h4>
              <p>Digital marketing is a kind of marketing and advertising which uses the internet to deliver promotional marketing messages to ideal costumers. Digital channels such as search engine, social media, websites, emails and mobile apps.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Social Media Marketing</li>
                    <li>Search Engine Optimization</li>
                    <li>Content Marketing</li>
                    <li>SMS Marketing</li>
                    
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Email Marketing</li>
                    <li>Influential Marketing</li>
                    <li>Affiliate Marketing</li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>            
      </div>
    </section>

    <section>
      <div class="container ">
        <div class="card-marketing animate__animated animate__lightSpeedInRight">
          <div class="row ">
            <div class="col-md-4">
              <img class="mx-auto d-block" src="../../assets/img/img4.png" alt="">
          </div>
          <div class="col-md-8 " id="card-content">
              <h4>Branding & Promotion</h4>
              <p>Branding  is a marketing practice in which a company creates a name, symbol or design that is easily identifiable . Branding includes advertising, customer service, promotional merchandise, reputation and logo. Promotion is used to make aware, attract and induce to buy the product.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Brand Creation</li>
                    <li>Brand Transformation</li>
                    <li>Brand Optimization</li>
                    <li>Flex</li>
                    
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Sun Pack</li>
                    <li>Road Side Board</li>
                    <li>Social Media Branding</li>
                  </ul>
                </div>
              </div>
          </div>
          </div>
          
        </div>
      </div>
    </section>
    
    <section>
      <div class="container">
        <div class="card-marketing animate__animated animate__lightSpeedInLeft">
          <div class="row ">
            <div class="col-md-4">
              <img class="mx-auto d-block" src="../../assets/img/img6.png" alt="">
          </div>
          <div class="col-md-8 " id="card-content">
              <h4>Traditional Marketing</h4>
              <p>Traditional  marketing relies on offline  strategies including  direct sales, direct mail such as postcards, brouchers, letters, etc. tradeshows, print advertising , radio and television.</p>
              <div class="row">
                <div class="col-md-4" id="card-content">
                  <ul>
                    <li>Flyers</li>
                    <li>Door Step Marketing</li>
                    <li>Brouchures</li>
                    <li>Bussiness Card</li>
                  </ul>
                </div>
              </div>
          </div>
          
          </div>
          
        </div>
      </div>
    </section>
  
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h4>VAIMA PRIVATE LIMITED</h4>
          <p class="text-justify">
            <a href="https://g.page/Vaima-Digital?share" target="_black" rel="noopener noreferrer">
            <i class="fa fa-map-marker" style="font-size: 25px;"></i> &nbsp;&nbsp; 75/3, Srirengapalayam, Rajapalayam - 626117</a>
          </p>
          <p class="text-justify">
            <a href="tel:+918248998807" target="_black" rel="noopener noreferrer">
            <i class="fa fa-mobile" style="font-size: 25px;"></i> &nbsp;&nbsp;&nbsp;+91 82489 98807</a>
          </p>
          <p class="text-justify">
            <a href="mailto:info@vaimaentertainment.in" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-envelope-o"></i> &nbsp;&nbsp; info@vaimaentertainment.in</a>
          </p>
        </div>
        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">copyright &copy; Designed and Developed by vaima_entertainment-2020.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/VaimaEntertainment"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/vaimaentertainment/"><i class="fa fa-instagram"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/channel/UC279Y7xF5Kpac27j-rdlA9w"><i class="fa fa-youtube-play"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>   
            <li><a class="whatsapp" href="https://wa.me/message/X2YLOY7Q3U7QG1"><i class="fa fa-whatsapp"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

    
</body>
</html>