<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Offside' rel='stylesheet'>
</head>
<body>
    <header id="about-bg">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/Vaima Entertainment Logo.png" style="height:70px" alt="Vaima Entertainment Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                      <button class="nav-link" id="dropbtn">Services</button>
                      <div class="dropdown-content">
                        <a  href="marketing">Digital Marketing</a>
                        <a  href="website">Website Development</a>
                        <a  href="advertisement">Advertisement</a>
                        <a  href="tvshows">Broadcasting Channel</a>
                        <a  href="film">Film Production</a>
                      </div>
                    </div>
                  </li>
                <li class="nav-item">
                <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                
            </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-layout">
                        <h3 class="about-title">VAIMA</h3>
                        <p class="about-para">
                            We are proud of a tradition of progressive education the dates from Foundation of Vaima Vidyalaya in 1994 followed by Casa Di Mir Matric Higher Secondary School, Vaima Kids and Prasardha Padasala. Education with innovation speaks our Speciality. Vaima has entered in the field of Media in 2019.
                        </p>
                        <h3 class="about-title">VAIMA ENTERTAINMENT</h3>
                        <p class="about-para">
                              "Vaima" the brand has its 26 years of goodwill that has stepped into Commercial Television Channel field in July 2020. We are Professional Team with high efficiency, Looking to promote Business and Brand by Reaching 3 Lakh set-top boxes in Rajapalayam and Srivilliputhur Taluk.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo-area text-center">
                        
                        <ul style="text-decoration: none;list-style-type: none;">
                            <li class="text-center">
                                <h2>Vaima GROUP</h2>
                            </li>
                            <li >
                                <a href="https://vaimaschools.in/">
                                    <img src="../../assets/img/Management and Team/Vaima Vidyalaya.PNG" target="_black" rel="noopener noreferrer"alt="Logo" style="height:100px;">
                                </a>  
                                <a href="https://casadimirmatricschool.in/">
                                    <img src="../../assets/img/Management and Team/CASA DI MIR LOGO.png" target="_black" rel="noopener noreferrer"alt="Logo" style="height:70px;">
                                </a>                                
                            </li>
                            <li>
                                <a href="http://vaimavidyalaya.in/">
                                    <img src="../../assets/img/Management and Team/Prasharda Padasala.PNG" target="_black" rel="noopener noreferrer"alt="Logo" style="height:70px;">
                                </a>
                                <a href="http://vaimavidyalaya.in/">
                                    <img src="../../assets/img/Management and Team/Vaima Kids.PNG" target="_black" rel="noopener noreferrer" alt="Logo" style="height:70px;">
                                </a>
                            </li>
                            <li class="text-center" style="margin-top: 30px;">
                                <h2>Vaima Media</h2>
                            </li>
                            <li>
                                <a href="http://vaimaentertainment.in/">
                                    <img src="../../assets/img/Management and Team/Vaima Entertainment.png" alt="Logo" target="_black" rel="noopener noreferrer" style="height:90px;">
                                </a>
                                <a href="marketing">
                                    <img src="../../assets/img/Management and Team/Vaima Digital Services Logo.png" alt="Logo" target="_black" rel="noopener noreferrer" style="height:95px;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <section id="our-team">
    <div class="container">
        <h3 class="about-title">Our managment</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="management-layout">
                    <img src="../../assets/img/Management and Team/President.JPG" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">President</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/Vice President.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Vice President</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="management-layout">
                    <img src="../../assets/img/Management and Team/CEO1.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">CEO</h5>
                </div>
                
            </div>
            <div class="col-md-3">
                <div class="management-layout">
                    <img src="../../assets/img/Management and Team/COO1.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">COO</h5>
                </div>
                
            </div>
                           
        </div>
    </div>
</section>
<section id="our-team">
    <div class="container">
        <h3 class="about-title">OUR TEAM</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/Manager1.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Mohan</h5>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/Editor.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Ram</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/Graphic Designer.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Sathya</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/SubEditor.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Karpagam</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/Admin.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Hana</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/Ramya.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Anika</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-layout">
                    <img src="../../assets/img/Management and Team/Malavika.jpeg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                    <h5 class="text-center our-management-text">Malavika</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!---
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <img src="../../assets/img/Management and Team/Manager.jpeg" class="mx-auto d-block" style="height: 200px;" alt="">
                    
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="text-center our-management-text">Mohan</h5><hr>
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
</section>
-->
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6"x>
          
            <p class="text-justify">
                <a href="https://g.page/Vaima-Digital?share" target="_black" rel="noopener noreferrer">
                <i class="fa fa-map-marker" style="font-size: 25px;"></i> &nbsp;&nbsp; 75/2, Srirengapalayam, Rajapalayam - 626117</a>
              </p>
              <p class="text-justify">
                <a href="tel:+918248998807" target="_black" rel="noopener noreferrer">
                <i class="fa fa-mobile" style="font-size: 25px;"></i> &nbsp;&nbsp;&nbsp;+91 82489 98807</a>
              </p>
              <p class="text-justify">
                <a href="mailto:info@vaimaentertainment.in" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-envelope-o"></i> &nbsp;&nbsp; info@vaimaentertainment.in</a>
              </p>
        </div>
        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">copyright &copy; Designed and Developed by vaima_entertainment-2020.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li> <a class="twitter" href="#"><i class="fa fa-twitter"></i> </a> </li>
            <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>   
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

 
</body>
</html>