<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header id="about-bg">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/lOGO1.png" style="height:70px" alt="Vaima Entertainment Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                      <button class="nav-link" id="dropbtn">Services</button>
                      <div class="dropdown-content">
                        <a  href="marketing">Digital Marketing</a>
                        <a  href="website">Website Development</a>
                        <a  href="advertisement">Advertisement</a>
                        <a  href="tvshows">Broadcasting Channel</a>
                        <a  href="film">Film Production</a>
                      </div>
                    </div>
                  </li>
                <li class="nav-item">
                <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                
            </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-layout">
                        <h3 class="about-title">VAIMA</h3>
                        <p class="about-para">
                            We are proud of a tradition of progressive education the dates from Foundation of Vaima Vidyalaya in 1994 followed by Casa Di Mir Matric Higher Secondary School, Vaima Kids and Prasardha Padasala. Education with innovation speaks our Speciality. Vaima has entered in the field of Media in 2019.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-layout">
                        <h3 class="about-title">VAIMA ENTERTAINMENT</h3>
                        <p class="about-para">
                              "Vaima" the brand has its 26 years of goodwill that has stepped into Commercial Television Channel field in July 2020. We are Professional Team with high efficiency, Looking to promote Business and Brand by Reaching 3 Lakh set-top boxes in Rajapalayam and Srivilliputhur Taluk.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="about-title">Our managment</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="management-layout">
                        <img src="../../assets/img/our-management-img.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                        <h5 class="text-center our-management-text">Managing Director</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="management-layout">
                        <img src="../../assets/img/our-management-img.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                        <h5 class="text-center our-management-text">CEO</h5>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="management-layout">
                        <img src="../../assets/img/our-management-img.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                        <h5 class="text-center our-management-text">COO</h5>
                    </div>
                    
                </div>
                               
            </div>
        </div>
    </section>
    <section id="our-team">
        <div class="container">
            <h3 class="about-title">OUR TEAM</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="team-layout">
                        <img src="../../assets/img/our-management-img.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                        <h5 class="text-center our-management-text">Manager</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-layout">
                        <img src="../../assets/img/suzy.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                        <h5 class="text-center our-management-text">Developer</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-layout">
                        <img src="../../assets/img/suzy.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                        <h5 class="text-center our-management-text">Designer</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-layout">
                        <img src="../../assets/img/our-management-img.jpg" class="mx-auto d-block" style="width: 130px; height: 130px; border-radius: 50%;" alt="">
                        <h5 class="text-center our-management-text">Editor</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6"x>
          
          <p class="text-justify">
            <i class="fa fa-map-marker" style="font-size: 25px;"></i> &nbsp;&nbsp; 75/2, Srirengapalayam, Rajapalayam - 626117
          </p>
          <p class="text-justify">
            <i class="fa fa-mobile" style="font-size: 25px;"></i> &nbsp;&nbsp;&nbsp;+91 82489 98807
          </p>
          <p class="text-justify">
            <i class="fa fa-envelope-o"></i> &nbsp;&nbsp; info@vaimaentertainment.in
          </p>
        </div>
        <!--<div class="col-sm-12 col-md-6">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li> <a class="twitter" href="#"><i class="fa fa-twitter"></i> </a> </li>
            <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>   
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>              
          </ul>
        </div>-->
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">copyright &copy; Designed and Developed by vaima_entertainment-2020.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li> <a class="twitter" href="#"><i class="fa fa-twitter"></i> </a> </li>
            <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>   
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

 
</body>
</html>