@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";
nav {
    background: #FAFAFA;
   padding-left: 180px;
   padding-right: 180px;
  }
  @media screen and (max-width: 700px ){
    nav{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media screen and (max-width: 1050px ){
    nav{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  
  .navbar-nav .nav-link {
      font-family: 'Source Serif Pro', serif;
      font-size: 20px;
      color: #000;
      padding: 0 20px 0 20px;
      text-transform: uppercase;
      font-weight: normal;
  }
  .navbar-nav .nav-link:hover {
     color: #ff4a00;
  }
  /*#about-bg {
      height: 500px;
      background-image: url('../../assets/img/service-bg/DM.jpg');
      background-color: #1fd1f9;
      background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }*/
  #dropbtn {
    background-color: transparent;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-weight: normal;
  }
  
  .dropdown-content a:hover {
      /*background-color: #ddd;*/
      background: transparent;
      font-weight: bold;
    }
  
  .dropdown:hover .dropdown-content {display: block;}

  .social-icons
{
  margin-right: 70px;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
  
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-icons a.twitter:hover {
  background: #00aced;
}
.social-icons a.youtube:hover
{
  background-color: #FF0000;
}
.social-icons a.telegram:hover
{
  background-color: #0088cc;
}
.social-icons a.whatsapp:hover
{
  background-color: #4FCE5D;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

  
	/* Conatct start */

 
  .header-title
  {
    text-align: center;
    /*color:#00bfff;*/
    color: #333;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  #tip 
  {
      display:none;  
  }

  .fadeIn
  {
    animation-duration: 3s;
  }

  .form-control
  {
    border-radius:0px;
    border:1px solid #EDEDED;
  }

  .form-control:focus
  {
    border:1px solid #00bfff;
  }

  .textarea-contact
  {
    resize:none; 
  }

  .btn-send
  {
    border-radius: 0px;
    border:1px solid #ee9617;
    background:#fff;
    color:#333; 
    text-align: center;
    margin-top:20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    text-transform: uppercase;
  }

  .btn-send:hover
  {
    border:1px solid #333;
    background:#333;
    color:#ee9617;
    transition:background 0.5s;   
  }

  .second-portion
  {
    margin-top:50px; 
  }



.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #ee9617; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #ee9617;
}
@media only screen and (max-width: 768px)
{
.contact-form
{
  margin-top:25px; 
}

.btn-send
{
  width: 100%;
  padding:10px; 
}

.second-portion
{
  margin-top:25px; 
}
}
/* Conatct end */