
.animate__animated.animate__fadeInDown  {
  --animate-duration: 2s;
 --animation-delay: 0.5s;
}
.animate__animated.animate__fadeInLeft  {
  --animate-duration: 2s;
 --animation-delay: 0.5s;
}
.animate__animated.animate__fadeInRight  {
  --animate-duration: 2s;
 --animation-delay: 0.5s;
}

nav {
  background: #FAFAFA;
 padding-left: 180px;
 padding-right: 180px;
}
@media screen and (max-width: 700px ){
  nav{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1050px ){
  nav{
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navbar-nav .nav-link {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  color: #000;
  padding: 0 20px 0 20px;
  text-transform: uppercase;
  font-weight: normal;
  background: none;
}
.navbar-nav .nav-link:hover {
 color: #ff4a00;
}


#dropbtn {
  background-color: transparent;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-weight: normal;
}

.dropdown-content a:hover {
    /*background-color: #ddd;*/
    background: transparent;
    font-weight: bold;
  }

.dropdown:hover .dropdown-content {display: block;}


/************* Our Shows ******************/

.show-list {
 
  padding-bottom: 60px;
}
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
  border-radius: 10px;
}

.content-image{
  /*width: 100%;*/
  border-radius: 10px;
  /*height: 170px;*/
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 18px;
}

.content-details p{
  color: #fff;
  font-size: 15px;
}

.fadeIn-bottom{
  top: 80%;
}

.show-list {
  padding-top: 50px;
  padding-bottom: 50px;
}
.show-list h1 {
  padding-top: 10px;
  padding-bottom: 15px;
}
.front img {
  border-radius: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/****************** Footer *******************/
.site-footer
{
  /*background-color:#26272b;*/
  padding:55px 0 20px;
  font-size:15px;
  line-height:24px;
  /*color:#737373;*/
  color: #FFF;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/img/footer-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#FFF;
}
.site-footer a:hover
{
  color: #ee9617;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  /*background-color:#33353d*/
  
}
.copyright-text
{
  margin:0;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  margin-right: 10px;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
  
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-icons a.twitter:hover {
  background: #00aced;
}
.social-icons a.youtube:hover
{
  background-color: #FF0000;
}
.social-icons a.telegram:hover
{
  background-color: #0088cc;
}
.social-icons a.whatsapp:hover
{
  background-color: #4FCE5D;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
