<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
</head>

<body>
    <header id="about-bg">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">
            <img src="../../assets/img/lOGO1.png" style="height:70px" alt="Vaima Entertainment Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="nav-link" id="dropbtn">Services</button>
                    <div class="dropdown-content">
                      <a  href="marketing">Digital Marketing</a>
                      <a  href="website">Website Development</a>
                      <a  href="advertisement">Advertisement</a>
                      <a  href="tvshows">Broadcasting Channel</a>
                      <a  href="film">Film Production</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                  </li>
                
            </ul>
            </div>
        </nav>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img class="img-fluid animate__animated animate__fadeInDown " src="../../assets/img/Management and Team/Setup box Details Png.png  " style=" display: block; width: 100%;height: 90%;">
          </div>
        </div>
      </div>
    </section>
    <!-------Cards Gallery-------->
    <section class="show-list">
        <h1 class="text-center">Our Channel Shows</h1>
        
        <div class="container">
            <div class="row animate__animated animate__fadeInLeft">
                
                <div class="col-md-3">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <img class="img-fluid content-image" src="../../assets/img/shows/hitplaylist.jpg" alt="Hit Playlist">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Hit Playlist</h3>
                            <p class="content-text">07:00 AM to 07:30 AM</p>
                        </div>
                    </div>
                    
                </div>        
                <div class="col-md-3">
                  <div class="content">
                      <div class="content-overlay"></div>
                      <img class="img-fluid content-image" src="../../assets/img/shows/Fresh Beats.jpg" alt="Fresh Breakfast">
                      <div class="content-details fadeIn-bottom">
                          <h3 class="content-title">Fresh Breakfast</h3>
                          <p class="content-text">07:30 AM to 08:00 AM</p>
                      </div>
                  </div>                    
              </div>
              <div class="col-md-3">
                  <div class="content">
                      <div class="content-overlay"></div>
                      <img class="img-fluid content-image" src="../../assets/img/shows/Breakfast.jpg" alt="Breakfast">
                      <div class="content-details fadeIn-bottom">
                          <h3 class="content-title">Breakfast</h3>
                          <p class="content-text">08:00 AM to 09:00 AM</p>
                      </div>
                  </div>                    
              </div>
              <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/tring tring.jpg" alt="Tring Tring">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Tring Tring</h3>
                        <p class="content-text">09:00 AM to 10:00 AM</p>
                    </div>
                </div>                    
            </div>
            </div>                
            <div class="row animate__animated animate__fadeInRight">
                 
                <div class="col-md-3">
                  <div class="content">
                      <div class="content-overlay"></div>
                      <img class="img-fluid content-image" src="../../assets/img/shows/Music Box.jpg" alt="Music Box">
                      <div class="content-details fadeIn-bottom">
                          <h3 class="content-title">Music Box</h3>
                          <p class="content-text">10:00 AM to 10:30 AM</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="content">
                      <div class="content-overlay"></div>
                      <img class="img-fluid content-image" src="../../assets/img/shows/Penney Unakkaga.jpg" alt="Penney Unakkaga">
                      <div class="content-details fadeIn-bottom">
                          <h3 class="content-title">Penney Unakkaga</h3>
                          <p class="content-text">10:30 AM to 11:00 AM</p>
                      </div>
                  </div>
              </div>    
              <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/Star Collections.jpg" alt="Star Collections">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Star Collections</h3>
                        <p class="content-text">11:00 AM to 11:30 AM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <div class="content">
                  <div class="content-overlay"></div>
                  <img class="img-fluid content-image" src="../../assets/img/shows/Retro Radio.jpg" alt="Retro Radio">
                  <div class="content-details fadeIn-bottom">
                      <h3 class="content-title">Retro Radio</h3>
                      <p class="content-text">11:30 AM to 12:00 AM</p>
                  </div>
              </div>
          </div>               
            </div> 
            <div class="row animate__animated animate__fadeInLeft"> 
              <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/Fun oh Fun.jpg" alt="Fun Oh Fun">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Fun Oh Fun</h3>
                        <p class="content-text">12:00 PM to 01:00 PM</p>
                    </div>
                </div>
              </div>                   
              <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/2k2k.jpg" alt="2K 2K">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">2K 2K</h3>
                        <p class="content-text">04:00 PM to 04:30 PM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/Kids Time.jpg" alt="Kids Time">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Kids Time</h3>
                        <p class="content-text">05:00 PM to 05:30 PM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/tea break.jpg" alt="Tea Break">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Tea Break</h3>
                        <p class="content-text">06:00 PM to 07:00 PM</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="row animate__animated animate__fadeInRight">
            <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/Encounter.jpg" alt="Encounter">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Encounter</h3>
                        <p class="content-text">07:00 PM to 08:00 PM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/Paatukku thuddu.jpg" alt="Paatukku Thuddu">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Paatukku Thuddu</h3>
                        <p class="content-text">08:00 PM to 9:00 PM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="img-fluid content-image" src="../../assets/img/shows/Music 4 You.jpg" alt="Music 4 You">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Music 4 You</h3>
                        <p class="content-text">09:00 AM to 10:00 AM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <div class="content">
                  <div class="content-overlay"></div>
                  <img class="img-fluid content-image" src="../../assets/img/shows/Tentkotta.jpg" alt="Tentkotta">
                  <div class="content-details fadeIn-bottom">
                      <h3 class="content-title">Tentkotta</h3>
                      <p class="content-text">02:00 PM to 04:00 PM</p>
                  </div>
              </div>
          </div>                    
        </div>  
                       
        </div>
        <div class="container"> 
          <h1 class="text-center ">Weekend Special</h1>
          <div class="row animate__animated animate__fadeInLeft">
            <div class="col-md-3">
              <div class="content">
                  <div class="content-overlay"></div>
                  <img class="img-fluid content-image" src="../../assets/img/shows/spotla paatu.jpg" alt="Spotla Pattu">
                  <div class="content-details fadeIn-bottom">
                      <h3 class="content-title">Spotla Pattu</h3>
                      <p class="content-text">10:00 AM to 11:00 AM</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="img-fluid content-image" src="../../assets/img/shows/Factory Visit.jpg" alt="Factory Visit">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Factory Visit</h3>
                    <p class="content-text">11:00 AM to 11:30 AM</p>
                </div>
            </div>
        </div>
            <div class="col-md-3">
              <div class="content">
                  <div class="content-overlay"></div>
                  <img class="img-fluid content-image" src="../../assets/img/shows/mini meals.jpg" alt="Mini Meals">
                  <div class="content-details fadeIn-bottom">
                      <h3 class="content-title">Mini Meals</h3>
                      <p class="content-text">12:00 PM to 02:00 PM</p>
                  </div>
              </div>
          </div>
          
        
        <div class="col-md-3">
          <div class="content">
              <div class="content-overlay"></div>
              <img class="img-fluid content-image" src="../../assets/img/shows/Encounter 2.0.jpg" alt="Encounter 2.O">
              <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Encounter 2.O</h3>
                  <p class="content-text">09:00 PM to 10:30 PM</p>
              </div>
          </div>
      </div>
        </div>
        </div>
    </section>
    
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          
          <p class="text-justify">
            <a href="https://g.page/Vaima-Digital?share" target="_black" rel="noopener noreferrer">
            <i class="fa fa-map-marker" style="font-size: 25px;"></i> &nbsp;&nbsp; 75/2, Srirengapalayam, Rajapalayam - 626117</a>
          </p>
          <p class="text-justify">
            <a href="tel:+918248998807" target="_black" rel="noopener noreferrer">
            <i class="fa fa-mobile" style="font-size: 25px;"></i> &nbsp;&nbsp;&nbsp;+91 82489 98807</a>
          </p>
          <p class="text-justify">
            <a href="mailto:info@vaimaentertainment.in" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-envelope-o"></i> &nbsp;&nbsp; info@vaimaentertainment.in</a>
          </p>
        </div>
        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">copyright &copy; Designed and Developed by vaima_entertainment-2020.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/VaimaEntertainment"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/vaimaentertainment/"><i class="fa fa-instagram"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/channel/UC279Y7xF5Kpac27j-rdlA9w"><i class="fa fa-youtube-play"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>   
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

</body>

</html>