<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <header>
   
    <carousel class="box">
        
      <slide>
        <img class="img-fluid" src="../../assets/img/pic1.jpeg" alt="first slide" style=" display: block; width: 100%;">
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center quote-txt d-none d-md-block">
              <h2>
                <span>Welcome to <strong>LOREM IPSUM Slide 1</strong></span>
              </h2>
              <br>
              <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </h3>
          </div>
      </div>
      <!-- /header-text -->
        <!--<div class="carousel-caption d-none d-md-block">
          <h3>Vaima Digital Marketing Services</h3>
          <p>Let's make a unique Promotion</p>
        </div>-->
      </slide>
      <slide>
        <img class="img-fluid" src="../../assets/img/pic2.jpeg" alt="second slide" style=" display: block; width: 100%;">
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center quote-txt d-none d-md-block">
              <h2>
                <span>Welcome to <strong>LOREM IPSUM Slide 2</strong></span>
              </h2>
              <br>
              <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </h3>
          </div>
      </div>
      <!-- /header-text -->
        <!--<div class="carousel-caption d-none d-md-block">
          <h3>Vaima Entertainment</h3>
          <p>Let</p>
        </div>-->
      </slide>
      <slide>
        <img class="img-fluid" src="../../assets/img/pic3.jpeg" alt="third slide" style=" display: block; width: 100%;">
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center quote-txt d-none d-md-block">
              <h2>
                <span>Welcome to <strong>LOREM IPSUM Slide 3</strong></span>
              </h2>
              <br>
              <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </h3>
          </div>
      </div>
      <!-- /header-text -->
        <!--<div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>-->
      </slide>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
        <img src="../../assets/img/lOGO1.png" style="height:70px" alt="Vaima Entertainment Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="nav-link" id="dropbtn">Services</button>
                <div class="dropdown-content">
                  <a  href="marketing">Digital Marketing</a>
                  <a  href="website">Website Development</a>
                  <a  href="advertisement">Advertisement</a>
                  <a  href="tvshows">Broadcasting Channel</a>
                  <a  href="film">Film Production</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
              </li>
            
        </ul>
        </div>
    </nav>
    </carousel>
    
    <!--<div class="container" >
        <div class="row align-items-center">
          <div class="col-md-12 text-center">
            <h1 style="color: #ffffff;">Promote Your Bussiness </h1><h1 style="color: #FF4a00;">With Us</h1>
            <p class="lead">Let's Make a Unique Promotions here.</p>
          </div>
          
        </div>
      </div>-->
</header>

  <!--------- About Us---------->
  <section>
    <div class="container">
      <div class="about-area text-center">
        <h2>Who We Are</h2>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>We are professional team with high efficiency, looking to promote your bussiness and brand with us.</p><p>Make you feel much better.</p>
            <img id="about-image" class="img-fluid" src="../../assets/img/img18.png" alt="" style="height: 250px;">
          </div>
          
        </div>
      </div>
     
    </div>
  </section>
  <!------ SERVICES ------->
  <section>
    <div class="container">
      <h2 class="service-title text-center">What We Do</h2>
      <!--<hr class="copyrights-hr">-->
        <div class="row">
          <div class="col-md-4">
            <a id="service-link" href="marketing">
            <div class="service-area">
              <img class="mx-auto d-block" src="../../assets/img/marketing.png" alt="" style="height: 150px;">
              <div id="card-text-area">
                
                  <h4 class="service-name"> Digital Marketing</h4>
                  
                  <p style="text-align: center;">The process of advertising a company's product, service or brand is marketing.</p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4">
            <a id="service-link" href="website">
            <div class="service-area">
              <img class="mx-auto d-block" src="../../assets/img/website.png" alt="" style="height: 150px;">
              <div id="card-text-area">
                
                  <h4 class="service-name text-center">Website Development</h4>
                 
                  <p class="text-center">Web developement is the process of developing a website for the internet</p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4">
            <a id="service-link" href="advertisement">
            <div class="service-area">
              <img class="mx-auto d-block" src="../../assets/img/img9.png" alt="" style="height: 150px;">
              <div id="card-text-area">
                
                  <h4 class="service-name text-center">Advertisement</h4>
                
                  <p class="text-center"> We are doing advertisement with creative ideas.</p>
              </div>
            </div>
            </a>
          </div>
        </div>
        
          <div class="row">
            <div class="col-md-6">
              <a id="service-link" href="tvshows">
              <div class="service-area">
                <img class="mx-auto d-block" src="../../assets/img/Tv.png" alt="" style="height: 190px;">
                <div id="card-text-area">
                  
                    <h4 class="service-name text-center">Broadcasting Channel</h4>
                  
                    <p class="text-center">We broadcasting daily live shows and weekend special programs to entertain people.</p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-md-6">
              <a id="service-link" href="film">
              <div class="service-area">
                <img class="mx-auto d-block" src="../../assets/img/img11.png" alt="" style="height: 190px;">
                <div id="card-text-area">
                  
                    <h4 class="service-name text-center">Film Production</h4>
                   
                    <p class="text-center">We are doing film in all kind of genre films with motion pictures studio.</p>
                </div>
              </div>
              </a>
            </div>
          </div>
    </div>
  </section>


  <section class="testimonial text-center">
    <div class="container">
      
        <div class="heading white-heading">
            Testimonial
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>It was a great experience with the team making ad for Nesam Gold Loan. </p>
                        <h4>Nesam Gold Loan</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>User Friendly Team, it was easy to work with this young team.</p>
                        <h4>Hotel Amil</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>It was great to work with the young team, who easy to understand clients requirements. </p>
                        <h4>JK Infotech</h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          
          <p class="text-justify">
            <i class="fa fa-map-marker" style="font-size: 25px;"></i> &nbsp;&nbsp; 75/2, Srirengapalayam, Rajapalayam - 626117
          </p>
          <p class="text-justify">
            <i class="fa fa-mobile" style="font-size: 25px;"></i> &nbsp;&nbsp;&nbsp;+91 82489 98807
          </p>
          <p class="text-justify">
            <i class="fa fa-envelope-o"></i> &nbsp;&nbsp; info@vaimaentertainment.in
          </p>
        </div>
        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">copyright &copy; Designed and Developed by vaima_entertainment-2020.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li> <a class="twitter" href="#"><i class="fa fa-twitter"></i> </a> </li>
            <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>   
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>


</body>
</html>