<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <header>
   
    <carousel class="box">
        
      <slide>
        <img class="img-fluid" src="../../assets/img/pic1.jpeg" alt="first slide" style=" display: block; width: 100%;">
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center quote-txt d-none d-md-block">
              <h2 class="animate__animated animate__lightSpeedInLeft">
                <span>Welcome to <strong>LOREM IPSUM Slide 1</strong></span>
              </h2>
              <br>
              <h3 class="animate__animated animate__lightSpeedInRight">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </h3>
          </div>
      </div>
      <!-- /header-text -->
        <!--<div class="carousel-caption d-none d-md-block">
          <h3>Vaima Digital Marketing Services</h3>
          <p>Let's make a unique Promotion</p>
        </div>-->
      </slide>
      <slide>
        <img class="img-fluid" src="../../assets/img/pic2.jpeg" alt="second slide" style=" display: block; width: 100%;">
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center quote-txt d-none d-md-block">
              <h2>
                <span>Welcome to <strong>LOREM IPSUM Slide 2</strong></span>
              </h2>
              <br>
              <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </h3>
          </div>
      </div>
      <!-- /header-text -->
        <!--<div class="carousel-caption d-none d-md-block">
          <h3>Vaima Entertainment</h3>
          <p>Let</p>
        </div>-->
      </slide>
      <slide>
        <img class="img-fluid" src="../../assets/img/pic3.jpeg" alt="third slide" style=" display: block; width: 100%;">
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center quote-txt d-none d-md-block">
              <h2>
                <span>Welcome to <strong>LOREM IPSUM Slide 3</strong></span>
              </h2>
              <br>
              <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </h3>
          </div>
      </div>
      <!-- /header-text -->
        <!--<div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>-->
      </slide>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
        <img class="animate__animated animate__slideInDown" src="../../assets/img/lOGO1.png" style="height:70px" alt="Vaima Entertainment Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto animate__animated animate__slideInDown">
            <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a href="#SERVICES" class="nav-link" id="dropbtn">Services</a>
                <div class="dropdown-content">
                  <a  href="marketing">Digital Marketing</a>
                  <a  href="website">Website Development</a>
                  <a  href="advertisement">Advertisement</a>
                  <a  href="tvshows">Broadcasting Channel</a>
                  <a  href="film">Film Production</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
              </li>
            
        </ul>
        </div>
    </nav>
    </carousel>
    
    <!--<div class="container" >
        <div class="row align-items-center">
          <div class="col-md-12 text-center">
            <h1 style="color: #ffffff;">Promote Your Bussiness </h1><h1 style="color: #FF4a00;">With Us</h1>
            <p class="lead">Let's Make a Unique Promotions here.</p>
          </div>
          
        </div>
      </div>-->
</header>

  <!--------- About Us---------->
  <section>
    <div class="container ">
      <div class="about-area text-center">
        <h2>Who We Are</h2>
        <div class="row animate__animated animate__zoomIn">
          <div class="col-md-12 text-center">
            <p class="home-about">"Vaima" the brand has its 26 years of goodwill that has stepped into Commercial Television Channel field in July 2020. We are Professional Team with high efficiency, Looking to promote Business and Brand by Reaching 3 Lakh set-top boxes in Rajapalayam and Srivilliputhur Taluk.</p><p id="quote-one">We Make you feel much better</p>
          </div>
          
        </div>
      </div>
     
    </div>
  </section>
  <!------ SERVICES ------->
  <section id="SERVICES">
    <div class="container ">
      <h2 class="service-title text-center">What We Do</h2>
      <!--<hr class="copyrights-hr">-->
        <div class="row animate__animated animate__fadeInDown">
          <div class="col-md-4">
            <a id="service-link" href="marketing">
            <div class="service-area">
              <img class="mx-auto d-block" src="../../assets/img/marketing.png" alt="" style="height: 150px;">
              <div id="card-text-area">
                
                  <h4 class="service-name"> Digital Marketing</h4>
                  
                  <p style="text-align: center;">The process of advertising a company's product, service or brand is marketing.</p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4">
            <a id="service-link" href="website">
            <div class="service-area">
              <img class="mx-auto d-block" src="../../assets/img/website.png" alt="" style="height: 150px;">
              <div id="card-text-area">
                
                  <h4 class="service-name text-center">Website Development</h4>
                 
                  <p class="text-center">Web developement is the process of developing a website for the internet</p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4">
            <a id="service-link" href="advertisement">
            <div class="service-area">
              <img class="mx-auto d-block" src="../../assets/img/img9.png" alt="" style="height: 150px;">
              <div id="card-text-area">
                
                  <h4 class="service-name text-center">Advertisement</h4>
                
                  <p class="text-center"> We are doing advertisement with creative ideas.</p>
              </div>
            </div>
            </a>
          </div>
        </div>
        
          <div class="row animate__animated animate__fadeInUp">
            <div class="col-md-6">
              <a id="service-link" href="tvshows">
              <div class="service-area">
                <img class="mx-auto d-block" src="../../assets/img/Tv.png" alt="" style="height: 190px;">
                <div id="card-text-area">
                  
                    <h4 class="service-name text-center">Broadcasting Channel</h4>
                  
                    <p class="text-center">We broadcasting daily live shows and weekend special programs to entertain people.</p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-md-6">
              <a id="service-link" href="film">
              <div class="service-area">
                <img class="mx-auto d-block" src="../../assets/img/img11.png" alt="" style="height: 190px;">
                <div id="card-text-area">
                  
                    <h4 class="service-name text-center">Film Production</h4>
                   
                    <p class="text-center">We are doing film in all kind of genre films with motion pictures studio.</p>
                </div>
              </div>
              </a>
            </div>
          </div>
    </div>
  </section>


  <section class="testimonial text-center">
    <div class="container">
      
        <div class="heading white-heading">
            Testimonial
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <img src="../../assets/img/Management and Team/Arjun Collections.png" class="img-circle img-responsive" />
                        <p>It was a great experience with the team making ad for Nesam Gold Loan. </p>
                        <h4>Arjun Collections</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="../../assets/img/Management and Team/Amil Logo.jpeg" class="img-circle img-responsive" /><p>User Friendly Team, it was easy to work with this young team.</p>
                        <h4>Hotel Amil</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="../../assets/img/Management and Team/JK Logo.jpeg" class="img-circle img-responsive" />
                        <p>It was great to work with the young team, who easy to understand clients requirements. </p>
                        <h4>JK Infotech</h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

<!--------------- CTA ---------------------
<section class="CTA animate__animated animate__fadeInLeft">
  <div class="container  audience-form">
    <form #userForm="ngForm">
      <div class="row">
        
        <div class="col-md-12">
          <h2>Stay With Us</h2>
          <div class="feed-form">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="formdata.name" required>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" #email="ngModel" class="form-control"  [(ngModel)]="formdata.email" required>
            </div>
            <div class="form-group">
              <label>mobile</label>
              <input type="text" name="mobile" #mobile="ngModel" class="form-control" [(ngModel)]="formdata.mobile" required>
            </div> 
            <div class="form-group">
              <button class="btn btn-send" (click)="onSubmit(userForm.value)">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
  </div>
</section>-->
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          
          <p class="text-justify">
            <a href="https://g.page/Vaima-Digital?share" target="_black" rel="noopener noreferrer">
            <i class="fa fa-map-marker" style="font-size: 25px;"></i> &nbsp;&nbsp; 75/2, Srirengapalayam, Rajapalayam - 626117</a>
          </p>
          <p class="text-justify">
            <a href="tel:+918248998807" target="_black" rel="noopener noreferrer">
            <i class="fa fa-mobile" style="font-size: 25px;"></i> &nbsp;&nbsp;&nbsp;+91 82489 98807</a>
          </p>
          <p class="text-justify">
            <a href="mailto:info@vaimaentertainment.in" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-envelope-o"></i> &nbsp;&nbsp; info@vaimaentertainment.in</a>
          </p>
        </div>
        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">copyright &copy; Designed and Developed by vaima_entertainment-2020.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li> <a class="twitter" href="#"><i class="fa fa-twitter"></i> </a> </li>
            <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li><a class="telegram" href="#"><i class="fa fa-telegram"></i></a></li>   
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>


</body>
</html>